<%- include("header") %>

<div id="container">
    <%- include("menu") %> 
    <div id="content">
        <h1>Profil oldal</h1>
        <table>
            <tr>
                <td>Felhasználónév</td>
                <td><%= user.username %></td>
            </tr>
            <tr>
                <td>E-mail cím</td>
                <td><%= user.email %></td>
            </tr>
            <tr>
                <td>Regisztráció</td>
                <td><%= user.reg %></td>
            </tr>
            <tr>
                <td>Utolsó belépés</td>
                <td><%= user.last %></td>
            </tr>
            <tr>
                <td>Összes megtett lépés</td>
                <td><%= 15000 %></td>
            </tr>
        </table>
    </div>
</div>

<%- include("footer") %>